RewriteEngine On

# Redirigir todo el tráfico a la aplicación Node.js
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]

# Configuración de seguridad básica
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"